<div class="container">
    <input type="text" class="input-todo" [(ngModel)]="todo">
    <button class="btn-todo" (click)="addTodo()">Añadir tarea</button>

    <div class="container-todo">
        <h3 class="todo-title" *ngIf="todos.length > 0; else noTareas">Mis tareas</h3>
        <ng-template #noTareas>
            <h3 class="todo-title">No hay tareas</h3>
        </ng-template>
        <div class="todo" *ngFor="let todo of todos" (click)="deleteTodo(todo)">
            {{todo}}
        </div>
    </div>
</div>